{{ define "albums/new.html" }}
{{ template "base/header.html" . }}

<h2>Добавление альбома</h2>

<form action="/albums/new" method="POST">
  <div>
    <label for="title">Название</label>
    <input type="text" name="title" id="title">
  </div>
  <div>
    <label for="artist">Исполнитель</label>
    <input type="text" name="artist" id="artist">
  </div>
  <div>
    <label for="review">Оценка</label>
    <input type="text" name="review" id="review">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

{{ template "base/footer.html" . }}
{{ end }}